* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.33em;
}

header {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 #e97013;

    nav {
        ul {
            display: flex;
            list-style-type: none;
            font-size: 16pt;
        }
    }    
    
    a {
        text-decoration: none;
        color: #e97013;
        margin-left: 15px;

        &:hover {
            color: yellow;
        }
    }

    span {
        color: #000000;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        flex-grow: 1;
        text-align: center;
    }

    & > div {
        color: white;

        & > span {
            margin-right: 15px;
        }
    }

    img {
        height: 50px;
        width: 100px;
    }

    button {
        width: 100px;
        height: 34px;
        font-size: 14pt;
        border: 0 solid #E5E7EB;
        box-sizing: border-box;
        line-height: 1.75rem;
        background-color: #e97013;
        color: white;
        // border-radius: 24px;
        // border: none;
        font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 700;
        transform: rotate(-3deg);
        cursor: pointer;

        &:hover {
            background-color: rgb(117, 49, 49);
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin: 70px 0 0 30px;
}

h1 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}

.spinner {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
